%fontHeading {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
}

%fontSubHeading {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
}

%fontRegular {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
}
