.header {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1060;
  background-color: $background;
  transition: all .2s ease-in-out;

  &.fixed-top {
    position: fixed;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
